body {
    margin: 40px 10px;
    padding: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
#calendar {
    max-width: 1024px;
    margin: 0 auto;
}
.calendarobject {
    position: absolute;
    left: 322px;
    top: 114px;
    border: 1px solid;
    width: 670px;
    height: 385px;
    display: block;
    box-sizing: content-box;
    z-index: 10000;
    background-color: #ffffff;
}
.calendar_title_root {
    position: absolute;
    border-bottom: 1px solid #CECECE;
    width: 400px;
    height: 40px;
    left: 3px;
    top: 10px;
    z-index: 10001;
}
.calendar_times_root {
    position: absolute;
    height: 58px;
    width: 400px;
    left: 3px;
    top: 60px;
    z-index: 10001;
    border-bottom: 1px solid #CECECE;
}
.calendar_repeat_root {
    position: absolute;
    border-bottom: 1px solid #CECECE;
    height: 130px;
    width: 387px;
    left: 15px;
    top: 120px;
    z-index: 10001;
}
.calendar_buttons {
    position: absolute;
    height: 59px;
    width: 400px;
    left: 3px;
    top: 335px;
    z-index: 10001;
}

.calendar_objects_root {
    position: absolute;
    width: 255px;
    border-left: 1px solid #CECECE;
    top: 4px;
    left: 407px;
    height: 376px;
    z-index: 10001;
}
.calendar_tips_root {
    position: absolute;
    border-top: 1px solid #CECECE;
    width: 249px;
    left: 415px;
    top: 184px;
    height: 181px;
    z-index: 10001;
}
.calendar_title {
    margin-left: 20px;
}
.time_range {
    font-weight: bold;
    float:right;
    margin-right: 20px;
}
.repeat_title {
    width: 101px;
    height: 30px;
    z-index: 10001;
    font-weight: bold;
    margin-left: 8px;
}
.time_selects {
    z-index: 10002;
}
.begin_month {
    width: 90px;
    margin-left: 5px;
}
.begin_time {
    margin-left: 20px;
    width: 60px;
}
.begin_year {
    width: 60px;
    margin-left: 5px;
}
.begin_day {
    left: 505px;
    margin-left: 20px;
}
.end_time {
    width: 60px;
    margin-left: 20px;
}
.end_day {
    width: 45px;
    margin-left: 20px;
}
.end_month {
    width: 90px;
    margin-left: 5px;
}
.end_year {
    width: 60px;
    margin-left: 5px;
}
.repeater {
    margin-left: 5px;
}
.repeat_text {
    width: 20px;
    margin-left:4px;
}
.repeat_radio_daily {
    margin-top: -10px;
}
.repeat_radio_weekly {
    margin-top: -10px;
}
.repeat_radio_monthly {
    margin-top: -10px;
}
.repeat_radio_yearly {
    margin-top: -10px;
}
.repeat_radio_end {
    top: 400px;
}
.repeat_every_day {
    margin-left: 100px;
    margin-top: -96px;
    height: 120px;
    width: 285px;
}
.repeat_every_week {
    margin-left: 100px;
    margin-top: -96px;
    height: 120px;
    width: 285px;
}
.repeat_every_month {
    margin-left: 100px;
    margin-top: -96px;
    height: 120px;
    width: 285px;
}
.repeat_every_year {
    margin-left: 100px;
    margin-top: -96px;
    height: 120px;
    width: 285px;
}
.repeat_end {
    margin-top: -15px;
    margin-left: 5px;
    height: 80px;
    width: 383px;
    border-bottom: 1px solid #CECECE;
}

.repeat_every_day_workday {
    width: 150px;
    left: 572px;
    top: 310px;
}
.repeat_every_day_first {
}
.repeat_every_week_first {
}
.repeat_checkbox {
}

.repeat_every_day_input {
    width: 30px;
}
.repeat_every_week_input {
    width: 30px;
}

.buttons_root {
    width: 80px;
    height: 28px;
    top: 404px;
    z-index: 10001;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.cancel_button {
    margin: -40px 105px;
    background-color: lightblue;
}
.delete_button {
    margin: 10px 310px;
    background-color: pink;
}
.save_button {
    margin: 10px 10px;
    background-color: lightgreen;
}

.repeat_button {
    margin: -20px 250px;
    background-color: lightgreen;
    height: 20px;
    border-radius: 3px;
    vertical-align: top;
}

.objects_input_root {
    position:relative;
    float:right;
}
.objects_text {
    position:relative;
    padding-left: 10px;
}
.objects_object {
    margin-top: 10px;
}
.tip_root {
    width: 45px;
    height: 20px;
    left: 739px;
    top: 250px;
    z-index: 10001;
    font-weight: bold;
}
.tips {
    margin: -20px 30px;
    width: 217px;
    height: 178px;
    z-index: 10001;
}